.box1{
    width: 25px;
    height: 25px;
}
.ov-hidden{
    overflow: hidden;
}

.dotted{
    width: 100%;
    height: 100%;
    border: 24px dotted tomato;
}

.box2{
    width: 45px;
    height: 8px;
    border-top: 24px double #ddd;
    border-bottom: 8px solid #ddd;
}

.box3{
    width: 8px;
    height: 45px;
    border-right: 24px double #ddd;
    border-left: 8px solid #ddd;
}